
/***** LAYOUT AND SIZING *****/
* {
    border-radius: 2px;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Courier', Courier, monospace;
}

header {
    flex: 0.1 0.5 1vh;
    display: flex;
    flex-direction: row;
    background-color: #1b1b1b;
    box-sizing: content-box;
}

header div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(71, 71, 71);
    border-top: 0;
}

header .search {
    flex: 1.5;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: #1b1b1b;
}

main > .decoration {
    flex: none;
    width: 1px;
    background-color: darkorange;
    margin: 60px 40px 60px 100px;
}

main > * {
    flex: 1;
}

article {
    flex: 1;
    padding: 2vw 10vw 2vw 0;
}

article > * {
    margin: 40px 0;
    color: white;
}

article > h1, h2, h3 {
    font-size: 2rem;
}

section > h2, h3 {
    font-size: 2rem;
}

section > p {
    margin: 10px 0;
}

section > a {
    text-decoration: white;
}

aside {
    flex: 0.1 0 120px;
    flex-direction: column;
    display: flex;
}

aside .empty.header {
    flex: 0 1 100px;
}

aside > .button-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(71, 71, 71);
}

.button-header img {
    height: 22px;
    width: 22px;
}

aside nav {
    display: flex;
}

.button-nav {
    flex: 0.3 0.3 15px;
    border: 1px solid rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .empty.footer {
    flex: 4;
}

aside ul {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li {
    flex: 1;
    display: flex;
    padding: 2px 10px;
    margin-top: 10px;
    align-items: center;
    font-size: 0.8rem;
}

.button-footer img {
    height: 22px;
    width: 22px;
}

footer {
    flex: none;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #1b1b1b;
    box-sizing: content-box;
}

footer div {
    flex: 1;
    justify-content: center;
    align-items: center;
}

footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}